.ansh{
    margin-left: 5%;
    margin-top: 5%;
    width: 15%;
    border-radius: 100%;
}
body{
    background: black;
}
.summary{
    margin-top: 5%;
    color: red;
}
.dpandintro{
    display: flex;
    flex-direction: row;
}
.dp{
    margin-right: -55%;
}
